# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

**/*.svg filter=lfs diff=lfs merge=lfs
**/*.png filter=lfs diff=lfs merge=lfs
**/*.jpg filter=lfs diff=lfs merge=lfs
**/*.jpeg filter=lfs diff=lfs merge=lfs
**/*.ogg filter=lfs diff=lfs merge=lfs
**/*.wave filter=lfs diff=lfs merge=lfs
**/*.gif filter=lfs diff=lfs merge=lfs
